@import "../component_skeletons/accordion.css";

.accordion-header {
    background-color: var(--primary-color);
}

.accordion.nested {
    margin-left: 1rem;
    border-left: 2px solid var(--secondary-color);
    padding-left: 1rem;
}